main {
    margin: auto;
    background-color: azure;
    border-width: 2px;
    border-style: groove;
    padding: 7px;
    text-align: center;
}

@media (min-width: 768px) {
    main {
        width: 600px;
    }
}
input {
    font-size: 30px;
    height: 2em;
    width: 2em;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    margin-top: 20px;
    width: 30%;
    height: 30px;
}